<div class="container col centered col-8 shadow p-4 mb-4 bg-light rounded" style="overflow: hidden">
    <h2 class="text-center" id="homeTitle">Your Reimbursements</h2>
    <hr>
    <div style="height: 295px; overflow: hidden" id="tableDiv">
    	<div class="col justify-content-center pt-4 mt-5" align="center">
           <h4>Loading reimbursement history...</h4>
       </div>
    </div>
    <br>
    <div class="row rounded">   
        <div class="col" align="right">
            <button type="submit" class="btn btn-primary col-2" id="toCreateNewScreen" data-toggle="modal" data-target="#createModal">Create New</button>
        </div>
    </div>
</div>