<div class="container col centered col-8 shadow p-4 mb-4 bg-light rounded">
    <h2 class="text-center">All User Reimbursements</h2>
    <hr>
    <div style="overflow-y: scroll; height: 295px" id="tableDiv">
    <div class="col justify-content-center pt-4 mt-5" align="center">
                        <h4>No reimbursement history.</h4>
                    </div>
        
    </div>
    <br>
    <div class="row rounded">   
        <div class="col" align="right">
        	<div class="btn-group">
			  <button type="button" id="managementViews" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			    Select Status
			  </button>
			  <div class="dropdown-menu">
			    <a class="dropdown-item" href="#" id="viewNew">New</a>
			    <a class="dropdown-item" href="#" id="viewViewed">Viewed</a>
			    <a class="dropdown-item" href="#" id="viewApproved">Approved</a>
			    <a class="dropdown-item" href="#" id="viewDenied">Denied</a>
			    <a class="dropdown-item" href="#" id="viewCanceled">Canceled</a>
			  </div>
			</div>
		</div>
    </div>
</div>