#outer {
	background-color: red;
	padding: .5rem;
}

#middle {
	background-color: blue;
	padding: .5rem;
}

#inner {
	background-color: green;
	padding: .5rem;
}

div {
	color: white;
	text-align: center;
}
