/*

\*

/*
    CSS Selectors
*/

div{
    border: 1px solid;
    padding: 5px;
    background-color: white;
}

p{
    font-family: Arial;
    color: darkgray;
}

#inheritance{
    color: red;

}

.main-header{
    border-radius: 10px;
}

div > a:visited{

}

div > a:hover{
    
}