<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
        <hibernate-configuration>
        	<!-- Configure SessionFactory -->
        	<session-factory>
        		<!-- Database connection properties - driver, URL, username, password -->
        		<property name="hibernate.connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
        		<property name="hibernate.connection.url">jdbc:oracle:thin:@revature-7-19-2018-demo.cbgnxfydyd2b.us-east-2.rds.amazonaws.com:1521:ORCL</property>
        		<property name="hibernate.connection.username">Algustus_Lee</property>
        		<property name="hibernate.connection.password">password</property>
        		
        		<!-- JDBC connection pool settings -->
        		<property name="connection.pool_size">1</property>
        		
        		<!-- Select our SQL dialect -->
        		<property name="dialect">org.hibernate.dialect.Oracle10gDialect</property>
        		
        		<!-- Print any executed sQL to the console (Should be disabled in production) -->
        		<property name="show_sql">true</property>
        		
        		<!-- Set the current session context -->
        		<property name="current_session_context_class">thread</property>
        		<!-- Include persistence mapping file for the Employee class -->
        		<mapping resource="employee.hbm.xml"/>
        	</session-factory>
        	
        </hibernate-configuration>