#bootstrap-overrides body {
  min-height: 75rem;
  padding-top: 4.5rem;
}
#bootstrap-overrides .btn-primary{ 
    /* background-color: #00A5D5;
    border-color: #00A5D5; */
    background-color: rgb(175, 189, 34);;
    border-color: rgb(175, 189, 34);;
  }
  #bootstrap-overrides .btn-secondary{ 
    background-color: #00A5D5;
    border-color: #00A5D5;
    /* background-color: rgb(175, 189, 34);;
    border-color: rgb(175, 189, 34);; */
  }
  /* rgb(175, 189, 34); */
.btn-cancel .btn-create{ 
    /* background-color: #00A5D5;
    border-color: #00A5D5; */
    background-color: rgb(175, 189, 34);;
    border-color: rgb(175, 189, 34);;
    float: left;
    width: 50%;
  }
.bg-primary {
	background-color: #f5f5f5!important;
}


  /* Full-width input fields */
    input[type=email], input[type=password] {
    width: 100%;
    display: inline-block;
  }
  
  input[type=email]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }

.createAcc {
  position: absolute; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  /* overflow: auto; Enable scroll if needed */
  background-color: #7A7A7A!important;
  padding-top: 50px;
}

/* Modal Content/Box */
.createAcc-content {
    background-color: #f5f5f5;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    width: 80%; /* Could be more or less, depending on screen size */
    border-radius: .25rem!important;
}

/* The Close Button (x) */
.closeMe {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}
.closeButton{
    font-size:48px;
    color:#E74C3C;
}
.closeMe:hover,
.closeMe:focus {
  color: #f44336;
  cursor: pointer;
}
