

<h2>View all employee reimbursements</h2>
<div>Filter by: </div>
<button id="showPending">Pending</button>
<button id="showApproved">Approved</button>
<button id="showDenied">Denied</button>
<button id="editReimbs">Edit Employee Reimbursements</button>
	<div class="form" id="allReimbursements">
		<table class="table table-bordered table-striped" id="allReimbursements-table">
			<thead>
				<tr>
					<th>Reimbursement ID</th>
					<th>Amount</th>
					<th>Date Submitted</th>
					<th>Date Resolved</th>
					<th>Reimbursement Description</th>
					<th>Reimbursement Author</th>
					<th>Reimbursement Resolver</th>  
					<th>Reimbursement Type</th>
					<th>Reimbursement Status</th>
				</tr>
			</thead>
			<tbody></tbody>
		</table>
	</div>
	
	
	<div id="reimb-info"></div>