


<h2>Approved Employee Reimbursements</h2>

<div id="approvedReimbursements">
		<table class="table table-bordered" id="allReimbursements-table">
			<thead>
				<tr>
					<th>Reimbursement ID</th>
					<th>Amount</th>
					<th>Date Submitted</th>
					<th>Date Resolved</th>
					<th>Reimbursement Description</th>
					<th>Reimbursement Author</th>
					<th>Reimbursement Resolver</th>  
					<th>Reimbursement Type</th>
					<th>Reimbursement Status</th>
				</tr>
			</thead>
			<tbody></tbody>
		</table>
	</div>
	