<h2>Edit employee reimbursements</h2>

	<div id="editReimbursements">
		<table class="table table-bordered table-striped" id="editReimbursements-table">
			<thead>
				<tr>
					<th>Reimbursement ID</th>
					<th>Amount</th>
					<th>Date Submitted</th>
					<th>Date Resolved</th>
					<th>Reimbursement Description</th>
					<th>Reimbursement Author</th>
					<th>Reimbursement Resolver</th>  
					<th>Reimbursement Type</th>
					<th>Reimbursement Status</th>
					<th>Change Status</th>
				</tr>
			</thead>
			<tbody></tbody>
		</table>
		<br/>
		
	</div>
	
	<div id="reimb-info"></div>