


			<div id="user-info">
				<b>User ID:</b> <span id="man-user_id"></span><br><br>
				<b>First name:</b> <span id="man-user_fn"></span><br><br>
				<b>Last name:</b> <span id="man-user_ln"></span><br><br>
				<b>Email address:</b> <span id="man-user_email"></span><br><br>
				<b>Username:</b> <span id="man-user_username"></span><br><br>
				<b>Password:</b> <span id="man-user_password"></span><br><br>
				<b>Role:</b> <span id="man-user_role"></span><br><br>	
			</div>
			<br/>
			<label>Press to retrieve all reimbursements:</label> 
			<button id="retrieveAllReimbs">Retrieve All</button>
			
		
		

	
<br/><br/>


  
<hr>
<!--
	<div>
		<table class="table" id="manReimbursements-table">
			<thead>
				<tr>
					<th>Reimbursement ID</th>
					<th>Amount</th>
					<th>Date Submitted</th>
					<th>Date Resolved</th>
					<th>Reimbursement Description</th>
					<th>Reimbursement Author</th>
					<th>Reimbursement Resolver</th>
					<th>Reimbursement Type</th>
					<th>Reimbursement Status</th>
				</tr>
			</thead>
			<tbody></tbody>
		</table>
	</div>
	 -->
	<div id="reimb-info"></div>