<div class="row align-item-center">
	<div class="col col-lg-1"></div>

	<div class="col col-sm-10">
		<div>Dashboard</div>
		<div>
			<button type="button" class="btn btn-primary" id="addRequest">Add
				Request</button>
			<select id="filter">
				<option value="all">Filter By...</option>
				<br>
				<option value="all">All</option>
				<option value="pending">Pending</option>
				<option value="approved">Approved</option>
				<option value="denied">Denied</option>
			</select>
			<table class="table table-bordered">
				<thead class="thead-light">
					<tr>
						<th>Reimbursement Id</th>
						<th>Amount</th>
						<th>Type</th>
						<th>Status</th>
						<th>Submitted</th>
						<th>Resolved</th>
						<th>Reciept</th>
						<th>Author</th>
						<th>Resolver</th>
						<th>View</th>
					</tr>
				</thead>
				<tbody>

				</tbody>
			</table>
		</div>
	</div>
	<div class="col col-lg-1"></div>
</div>