<div class="row">
    <div class="col-md-2"></div>

    <div class="col-md-8">
        <div class="card" style="margin-top:75px;">
            <div class="card-header text-center">
            <h1>Reimbursement</h1>
            </div>
            <div class="card-body">
                <h4 class="card-title" id="id">Register</h4>
                	<table>
                		<tr>
                			<td>Amount</td>
                			<td id="amount"></td>
                		</tr>
                		<tr>
                			<td>Receipt</td>
                			<td id="receipt"></td>
                		</tr>
                		<tr>
                			<td>Type</td>
                			<td id="type"></td>
                		</tr>
                		<tr>
                			<td>Status</td>
                			<td id="status"></td>
                		</tr>
                		<tr>
                			<td>Submitted</td>
                			<td id="submitted"></td>
                		</tr>
                		<tr>
                			<td>Author</td>
                			<td id="author"></td>
                		</tr>
                		<tr>
                			<td>Resolved</td>
                			<td id="resolved"></td>
                		</tr>
                		<tr>
                			<td>Resolver</td>
                			<td id="resolver"></td>
                		</tr>
                	</table>
                	<div id="managerOptions">
                	</div>
                	<button type="button" class="btn btn-primary" id="back">Back</button>
            </div>
        </div>
    </div>
    
    <div class="col-md-2"></div>
</div>