#outer {
    background-color: red;
    padding: .5rem;
}
#middle {
    background-color: blue;
    padding: .5rem;
}
#inner {
    background-color: green;
    padding: .5rem;
}
#outer, #middle, #inner {
    text-align: center;
    color: white;
}