<div class="jumbotron" id="data-container">
<!-- this is section is where you view all reimbursements -->
	<h1>Pending Reimbursements</h1>
	<table class="table" id='userReimbs'>
	<thead>
		<tr>
		<th>Submitter ID</th>
		<th>Resolver ID</th>
		<th>Submit Time</th>
		<th>Amount</th>
		<th>Description</th>
		<th>Status</th>
		<th>Type</th>
		<th>Action</th>
		</tr>
	</thead>
	<tbody></tbody>
	</table>
	<span id="Reimbursement-Alert"></span>
	<br><br><br>
	<button type="button" class="btn btn-primary" id="SubmitAction">Submit changes</button><br>
	
</div>