<div class="jumbotron" id="data-container">
<!-- this is section is where you submit new reimbursements -->
	<h1>WELCOME TO THE REIMBURSEMAGEDDON</h1>
	<br>
	<br>
		<label>Amount :</label><input class="form-control" type="text" id="amount"></input>
		<br>
		<label>Description :</label><textarea class="form-control" type="text" id="desc"></textarea>
		<br>
		<label>Type :</label><select class="form-control" id="type"><option>Lodging</option><option>Travel</option><option>Food</option><option>Other</option></select>
		<br>
		<button id="submitReimb">Submit</button>
	<span id="Reimbursement-Alert"></span>
</div>