<div>
	<h1>Home</h1><br>
	<div id="user-info">
		<b>User ID:</b> <span id="user_id"></span><br><br>
		<b>First name:</b> <span id="user_fn"></span><br><br>
		<b>Last name:</b> <span id="user_ln"></span><br><br>
		<b>Email address:</b> <span id="user_email"></span><br><br>
		<b>Username:</b> <span id="user_username"></span><br><br>
		<b>Password:</b> <span id="user_password"></span><br><br>
		<b>User Role ID:</b><span id="user_role_id"></span><br><br>
	</div>
	
	
	<hr>
	<button id="filter-user" class="btn btn-lg btn-primary btn-block" type="submit">Filter by User</button><br><br>
	<input id="user-to-filter" type="number">
	
	<button id="filter-status" class="btn btn-lg btn-primary btn-block" type="submit">Filter by Status</button><br>
	<input id="status-to-filter" type="number">
	<hr>
	
	<table class="table" id="userReimbursements-table">
		
		<thead>
			<tr>
				<th>ID</th>
				<th>Amount</th>
				<th>Date Resolved</th>
				<th>Date Submitted</th>
				<th>Description</th>
				<th>Author</th>
				<th>Resolver</th>
				<th>Status ID</th>
				<th>Type ID</th>
			</tr>
		</thead>
		
		<tbody></tbody>
		
	</table>
	<p id="acct-info"></p>
</div>