<div>

	<br>
	<br>
	<h1 class="row mx-5 welcome">Welcome,  <span class="mx-2"id="welcomespan"></span>!</h1>
	<br>
	<hr>
	<br>

<div class="row mx-5"id="div1">
	<p>
		<button class="btn btn-outline-primary" type="button" data-toggle="collapse" data-target="#collapseTarget" aria-expanded="false" aria-controls="collapseTarget">
	    Create Reimbursement
		</button>
		
	</p>
</div>
	<br>
	<div class="collapse" id="collapseTarget">
 		<div class="card card-body">

			<div class="card text-white bg-primary mb-3" style="max-width: 50rem;">
			 	<div class="card-header">
			    Create New Reimbursement Request
			    </div>
			 	<div class="card-body">
			    	<h5 class="card-title">Enter Reimbursement Details</h5>	   
				    <p class="card-text">Reimbursement Amount:</p>
				    <input type="number" id="amount" class="form-control" placeholder="Amount..."><br>
				    <p class="card-text">Reimbursement Description:</p>
				    <input type="text" id="description" class="form-control" placeholder="Description..."><br>		    
			   		<div class="input-group mb-3">
						<select class="custom-select" id="reimb-type-dropdown">
							<option selected>Reimbursement Type...</option>
							<option value="1">Lodging</option>
							<option value="2">Travel</option>
							<option value="3">Food</option>
							<option value="4">Other</option>
						</select>
					</div>   
				<br>
			    <div>
	       			 <a id = "button-add-reimb" tabindex="0" class="btn btn-outline-light" role="button" data-toggle="popover" data-delay="2000"data-trigger="focus"  data-content="Reimbursement Failed! Please Try Again">Submit Reimbursement</a>
				</div>
			    </div>
			    
			</div>		  
		</div>
	</div>



	<hr>
	
	<div class="row mx-5">
	<div class="btn-group ">
		<div class="dropdown">
		  <button class="btn btn-outline-dark dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		    Filter by Status
		  </button>
		  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
		    <a id = "filterpending" class="dropdown-item" >Pending</a>
		    <a id = "filterapproved" class="dropdown-item" >Approved</a>
		    <a id = "filterrejected" class="dropdown-item" >Rejected</a>
		  </div>
		  	  
		</div>
	</div>
	</div>
	<br>

<div class="tablediv">
	<table class="table table-striped" id="userReimbursements-table">
		
		<thead class="thead-dark">
			<tr>
				<th scope="col">ReimbursementID</th>
				<th scope="col">AuthorID</th>
				<th scope="col">ResolverID</th>
				<th scope="col">Date Submitted</th>
				<th scope="col">Date Resolved</th>						
				<th scope="col">Description</th>
				<th scope="col">Type</th>
				<th scope="col">Amount</th>
				<th scope="col">Status</th>
			</tr>
		</thead>
		
		<tbody></tbody>
		
	</table>
	<p id="acct-info"></p>
</div>



</div>

<!-- link to css file in root directory -->
    <link href="css/home.css" rel="stylesheet">
    <!--link to js file in root directory-->
    <script src="js/home.js"></script>