<div>
	<h1>Home</h1><br>
	<div id="user-info">
		<b>User ID:</b> <span id="user_id"></span><br><br>
		<b>First name:</b> <span id="user_fn"></span><br><br>
		<b>Last name:</b> <span id="user_ln"></span><br><br>
		<b>Email address:</b> <span id="user_email"></span><br><br>
		<b>Username:</b> <span id="user_username"></span><br><br>
		<b>Password:</b> <span id="user_password"></span><br><br>
		<b>User Role ID:</b><span id="user_role_id"></span><br><br>
	</div>

	<br>
	<hr>
	<br>

	<div id="createreimbdiv">

		<h2>Create New Reimbursement Request</h2>

		<div class="input-group mb-3">
			<input type="number" id="amount" class="form-control" placeholder="Amount..."> 
			<input type="text" id="description" class="form-control" placeholder="Description...">
		</div>

		<div class="input-group mb-3">
			<select class="custom-select" id="reimb-type-dropdown">
				<option selected>Reimbursement Type...</option>
				<option value="1">Lodging</option>
				<option value="2">Travel</option>
				<option value="3">Food</option>
				<option value="4">Other</option>
			</select>
		</div>

		<div id="buttondiv">
			<button class="btn btn-outline-primary" id="button-add-reimb"
				type="submit">Submit Reimbursement</button>
		</div>

	</div>

	<br>
	<hr>
	<br>
	
	
	<br>
	<hr>
	<br>

	<div id="updatereimbdiv">

		<h2>Approve/Reject Reimbursement Request</h2>

		<div class="input-group mb-3">
			<input type="number" id="reimb-id" class="form-control" placeholder="Reimbursement ID..."> 
			<p class="mb-3">or</p>
			<input type="text" id="author" class="form-control" placeholder="Author...">
		</div>

		<div id="approvebuttondiv">
			<button class="btn btn-outline-success" id="button-approve-reimb"
				type="submit">Approve</button>
		</div>
		<div id="rejectbuttondiv">
			<button class="btn btn-outline-danger" id="button-reject-reimb"
				type="submit">Reject</button>
		</div>

	</div>

	<br>
	<hr>
	<br>
	<div class = "btn-group">
		<div class="dropdown">
		  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		    Filter by Status
		  </button>
		  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
		    <a id = "filterpending" class="dropdown-item" >Pending</a>
		    <a id = "filterapproved" class="dropdown-item" >Approved</a>
		    <a id = "filterrejected" class="dropdown-item" >Rejected</a>
		  </div>
		  
	 	  <div class="input-group mb-3">
		  <div class="input-group-prepend">
		    	<button class="btn btn-outline-secondary" type="button" id="filteruserbtn">Filter by Author</button>
		  </div>
		  		<input id = "userfilter" type="text" class="form-control" placeholder="Author..." aria-label="text with button addon" aria-describedby="button-addon1">
		  </div>
			  
		</div>
	</div>
	<br>
	
	<table class="table" id="userReimbursements-table">
		
		<thead>
			<tr>
				<th>ID</th>
				<th>Amount</th>
				<th>Date Resolved</th>
				<th>Date Submitted</th>
				<th>Description</th>
				<th>Author</th>
				<th>Resolver</th>
				<th>Status ID</th>
				<th>Type ID</th>
			</tr>
		</thead>
		
		<tbody></tbody>
		
	</table>
	<p id="acct-info"></p>
</div>