
<div class="my-5 outerdiv">
<div class="row offset-5 user-info">
<div class="card" style="width: 25rem;">
  <div class="card-header">
    <h3 class="card-title">User Profile</h3>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Username: <span id="user_username"></span></li> 
    <li class="list-group-item">First Name: <span id="user_fn"></span></li>
    <li class="list-group-item">Last Name: <span id="user_ln"></span></li>
    <li class="list-group-item">Email: <span id="user_email"></span></li>
    <li class="list-group-item">User Role: <span id="user_role_id"></span></li>
  </ul>
</div>
</div>
</div>
