<div class="alignregister form-signin">

		<img class="mb-4"src="https://getbootstrap.com/docs/4.1/assets/brand/bootstrap-solid.svg"alt="" width="72" height="72">
		<h1 class="h3 mb-3 font-weight-normal">Registration</h1>
		<label for="inputUsername" class="sr-only">Username:</label> <input
			type="text" id="inputUsername" class="form-control"
			placeholder="Username" required="" autofocus=""> <label
			for="inputPassword" class="sr-only">Password:</label> <input
			type="password" id="inputPassword" class="form-control"
			placeholder="Password" required=""> <label
			for="inputFirstname" class="sr-only">First Name:</label> <input
			type="text" id="inputFirstname" class="form-control"
			placeholder="First Name" required=""> <label
			for="inputLastname" class="sr-only">Last Name:</label> <input
			type="text" id="inputLastname" class="form-control"
			placeholder="Last Name" required=""> <label for="inputEmail"
			class="sr-only">Email address:</label> <input type="email"
			id="inputEmail" class="form-control" placeholder="Email address"
			required="">

		<button id="register" class="btn btn-lg btn-primary btn-block" type="submit">CreateAccount</button>

    
</div>
	<!-- link to css file in root directory -->
    <link href="css/register.css" rel="stylesheet">
    <!--link to js file in root directory-->
    <script src="js/register.js"></script>
