@charset "ISO-8859-1";

body{
	background-color:aliceblue;
}

a:hover {
 cursor:pointer;
}

.navbar{
	border-bottom: 1px solid lightskyblue;
	
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Nanum Gothic', sans-serif;
}
