<div class="container" id="bootstrap-overrides">
    <form class="form-signin">
        <div class="text-center mb-4">
            <img class="mb-4" src="media/images/expensifyLogoRGB.svg" alt="" width="100%" height="100%">
            <h1 class="h3 mb-3 font-weight-normal">Enter Credentials</h1>
        </div>
        <div class="form-label-group">
            <input type="email" id="login-username" class="form-control" placeholder="Email address" required autofocus>
            <label for="inputEmail">Email address</label>
        </div>
        <div class="form-label-group">
            <input type="password" id="login-password" class="form-control" placeholder="Password" required>
            <label for="inputPassword">Password</label>
        </div>
        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" value="remember-me"> Remember me
            </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit" id="login">Log In</button>
        <hr>
        <button class="btn btn-lg btn-secondary btn-block" type="submit" id="createBtn">Create Account</button>
        <div class="alert alert-danger" id="login-message"></div>
    </form>
</div>