<input id="containertype" type="hidden" value="finishedSubmission">
<div class="finishregistration-container">
	<div class="finishregistration-line-one">
		<h1>Your account has been created!!</h1>
	</div>
	<div class="finishregistration-line-two">
	    <div class="form-group">
	        <button type="submit" class="btn btn-primary" id="finishregistration-tologin">Log In</button>
	    </div>
	</div>
	<div class="finishregistration-line-three">
	    <div class="form-group">
	        <button type="submit" class="btn btn-primary" id="finishregistration-tohome">Return Home</button>
	    </div>
	</div>
</div>