<input id="containertype" type="hidden" value="finishedSubmission">
<div class="finishsubmittingrequest-container">
	<div class="finishsubmittingrequest-line-one">
		<h1>Reimbursement Request Submitted!!</h1>
	</div>
	<div class="finishsubmittingrequest-line-two">
	    <div class="form-group">
	        <button type="submit" class="btn btn-primary" id="finishsubmittingrequest-tosubmitreimbursement">Submit Another Request</button>
	    </div>
	</div>
	<div class="finishsubmittingrequest-line-three">
	    <div class="form-group">
	        <button type="submit" class="btn btn-primary" id="finishsubmittingrequest-tohome">Return Home</button>
	    </div>
	</div>
</div>