<input id="containertype" type="hidden" value="guest">
<div class="guesthome-container">
    <h1 class="guesthome-line-one">Welcome to the Reimbursement System</h1>
    <br />
    <div class="guesthome-line-two">
        <h2>In order to access the features of this site, you must be signed in. Please log in or register.</h2>
    </div>                    
    <div class="guesthome-line-three">
	    <div class="form-group guesthome-line-three-left">
	        <button type="submit" class="btn btn-primary" id="guesthome-tologin">Login</button>
	    </div>
	    <div class="form-group guesthome-line-three-right">
	        <button type="submit" class="btn btn-primary" id="guesthome-toregister">Register</button>
	    </div>
    </div>
</div>