<input id="containertype" type="hidden" value="register">
<div class="register-container">
    <h3 class="register-line-one">Sign Up</h3>
    <br />
    <div class="register-line-two">
        <label class="register-label" for="firstname"><h5>First Name</h5></label> <input type="text" class="register-input" id="register-firstname" placeholder=" First Name">
    </div>                    
    <div class="register-line-three">
        <div class="form-group">
            <label class="register-label" for="lastname"><h5>Last Name</h5></label> <input type="text" class="register-input" id="register-lastname" placeholder=" Last Name">
        </div>
    </div>                    
    <div class="register-line-four">
        <div class="form-group">
            <label class="register-label" for="username"><h5>Username</h5></label> <input type="text" class="register-input" id="register-username" placeholder=" Username">
        </div>
    </div>                    
    <div class="register-line-five">
        <div class="form-group">
            <label class="register-label" for="password"><h5>Password</h5></label> <input type="password" class="register-input" id="register-password" placeholder=" Password">
        </div>
    </div>
    <div class="register-line-six">
        <div class="form-group">
            <label class="register-label" for="confirmpassword"><h5>Confirm Password</h5></label> <input type="password" class="register-input" id="confirm-password" placeholder=" Confirm Password">
        </div>
    </div>
    <div class="register-line-seven">
        <div class="form-group">
            <label class="register-label" for="email"><h5>Email</h5></label> <input type="email" class="register-input" id="register-email" placeholder=" Email">
        </div>
    </div>

    <div class="register-line-eight"><div class="alert-danger form-group" id="register-message"></div></div>
    <div class="register-line-nine">
        <div class="form-group">
            <button type="submit" class="btn btn-primary" id="register">Register</button>
        </div>
    </div>
</div>