<div class = "container col centered col-4" id="data-container">
    <h2>Enter Reimbursement</h2>
    <!--hr>
    <h3>Online Banking Enrollment</h3-->
	<div>
    <div class="form-group">
        <label for="fn">Reimbursement Amount</label> <input type="text"
            class="form-control" id="amount" placeholder="Add Amount">
    </div>

    <div class="form-group">
        <label for="password">Reimbursement Description</label> <input type="text"
            class="form-control" id="description" placeholder="Description">
    </div>
    
    <div class="form-group">
    	<select id = "select">
    		<option value="lodging">LODGING</option>
    		<option value="travel">TRAVEL</option>
    		<option value="food">FOOD</option>
    		<option value="other">OTHER</option>
    	</select>
    </div>
    </div>
    
    <button type="submit" class="btn btn-block btn-primary" id="add">Add</button>
    <br> <br>

    <div class="alert alert-danger" id="reg-message"></div>
</div>