<div>
	<h1>View Reimbursements</h1><br>
	<!--div id="user-info">
		<b>User ID:</b> <span id="user_id"></span><br><br>
		<b>First name:</b> <span id="user_fn"></span><br><br>
		<b>Last name:</b> <span id="user_ln"></span><br><br>
		<b>Email address:</b> <span id="user_email"></span><br><br>
		<b>Username:</b> <span id="user_username"></span><br><br>
		<b>Password:</b> <span id="user_password"></span><br><br>
	</div>
	
	<hr-->
	<table class="table" id="table" >
		
		<thead>
			<tr>
				<th>Reimb ID</th>
				<th>Amount</th>
				<th>Submitted</th>
				<th>Resolved</th>
				<th>Description</th>
				<th>Receipt</th>
				<th>Author</th>
				<th>Resolver</th>
				<th>Status ID</th>
				<th>Reimb Type</th>
			</tr>
		</thead>
		
		<tbody></tbody>
		
	</table>
	
	<button type="button" id="showReimb">Show Reimbursements!</button>
	<button type="button" id="addReimb">Add Reimbursement!</button>
</div>