<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	welcome manager!!!
	<p id="userNameLoggedIn">Username:</p>
	<p id="firstNameLoggedIn">First Name:</p>
	<p id="lastNameLoggedIn">Last Name:</p>
	<p id="emailLoggedIn">Email:</p>
	<p id="accountTypeLoggedIn">Account type:</p>


	<table class="table">
		<thead>
			<tr>
				<th>Amount</th>
				<th>Date Submitted</th>
				<th>Date Resolved</th>
				<th>Description</th>
				<th>Type</th>
				<th>Status</th>
			</tr>



		</thead>
		<tbody>


		</tbody>
	</table>

</body>
</html>