<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

<button type="button" class = "btn btn-secondary btn-lg" onclick="logOut()">Log Out</button>

<div class = "home">
	<h3>Manager Home</h3>
	<br>
	
	<p id="userNameLoggedIn">Username:</p>
	<p id="firstNameLoggedIn">First Name:</p>
	<p id="lastNameLoggedIn">Last Name:</p>
	<p id="emailLoggedIn">Email:</p>
	<p id="accountTypeLoggedIn">Account type:</p>
</div>

<br>

	<div class="newReimbContainer">
		<h3>New Reimbursement</h3>

		<!-- type, desc, amount -->

		<form class="form-group newReimbForm">

			<label class="reimbLabel" for="amt">Amount:</label>
			 <input	type="number" class="form-control" id="amt"> <label
				
				class="reimbLabel" for="desc">Description:</label> <input
				type="text" class="form-control" id="desc"> 
		
		
				<p>Type:</p>
				<select name="types" id="newReimbId">
				
				<option value="lodging">lodging</option>
				<option value="travel">travel</option>
				<option value="food">food</option>
				<option value="other">other</option>
				
				</select>
			<br> <br>
			 <button id="submitReimb" onclick ='addReimbursement()' type="button" class="btn btn-info submitReimbClass">Submit Reimbursement</button> 

		</form>


	</div>

<br><br><br>

	<button id="allReimbsId" onclick='submitGetAllReimbs()' type="button"
		class="btn btn-info submitReimbClass">View All Reimbursement Requests</button>


<h3>Personal Reimbursement Requests</h3>
	<table class="table  table-striped table-bordered table-hover table-sm reimbTable column-12 py-4 px-4"   >
		<thead>
			<tr>
				<th>Amount</th>
				<th>Date Submitted</th>
				<th>Date Resolved</th>
				<th>Description</th>
				<th>Type</th>
				<th>Status</th>
			</tr>



		</thead>
		<tbody>


		</tbody>
	</table>


</body>

</html>