


  <br/> <br/>
  <div id="Welcome">Revature Employee Reimbursement System</div>
<div>
     <br/> <br/>
</div>


<div class = "loginMenuContainer">
   Account Log In

   <form class="form-group login">	
    <label class="logInLabel" for="usr">Username:</label>
    <input type="text" class="form-control" id="usr">
  
    <label class="logInLabel" for="pwd">Password:</label>
    <input type="password" class="form-control" id="pwd">
  
  <button id="submitLogin" onclick ='submitLoginInfo()' type="button" class="btn btn-info submitLoginClass">Log In to ERS</button>
  <button id="registerRedirect" onclick="loadRegister()" type="button" class="btn btn-info float-left">New User Registration</button>

</form>  

          
</div>

<br/>
