


  <br/> <br/>
  <div id="Welcome">Revature Employee Reimbursement System</div>
<div>
     <br/> <br/>
</div>

<div class = "registerMenuContainer register">
         Account Registration
     
        <form class="form-group">
                 <label class = "registerLabel"  for="usr" >Username:</label>
                 <input type="text" class="form-control" id="usr">
               
                 <label class = "registerLabel" for="pwd" >Password:</label>
                 <input type="password" class="form-control" id="pwd">

                 <label class = "registerLabel" for="fn" >First Name:</label>
                 <input type="text" class="form-control" id="fn">

                 <label class = "registerLabel" for="ln" >Last Name:</label>
                 <input type="text" class="form-control" id="ln">

                 <label class = "registerLabel" for="pwd" >Email Address:</label>

                 <input type="email" class="form-control" id="email">

                <br/>
                 <div class="radioContainer">
                        <p>Account Type:</p>
                        
                        <form>
                          <label class="radio-inline">
                            <input type="radio" name="optradio">Employee
                          </label>
                          <label class="radio-inline">
                            <input type="radio" name="optradio">Manager
                          </label>
                        </form>
                        
                      </div>
				  <button id="submitRegister" type="button" class="btn btn-info">Register Account</button>
             </form>     
                      
     </div>

