<div class="container" id="data-container">

	<h3>User: <span id="userDetailId"></span></h3>
	
	<div class="form-group">
		<label for="firstname">First Name</label>
		<input type="text" class="form-control" id="firstname" readonly>
	</div>
	
	<div class="form-group">
		<label for="lastname">Last Name</label>
		<input type="text" class="form-control" id="lastname" readonly>
	</div>
	
	<div class="form-group">
		<label for="username">Username</label>
		<input type="text" class="form-control" id="username" readonly>
	</div>
	
	<div class="form-group">
		<label for="email">Email</label>
		<input type="text" class="form-control" id="email" readonly>
	</div>
	
	<div class="form-group">
		<label for="role">Role</label>
		<input type="text" class="form-control" id="role"readonly>
	</div>
	
</div>